:root {
  --primary-navy-color: #2e2f42;
  --primary-slate-color: #434455;
  --primary-cloud-color: #f4f4fd;
  --primary-white-color: #ffffff;
  --primary-iris-color: #4d5ae5;
  --primary-ocean-color: #404bbf;

  --primary-text: "Roboto", sans-serif;
  --secondary-text: "Raleway", sans-serif;
}

h1,
h2,
h3,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* Голова */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;

  display: inline-block;
  margin-left: 156px;
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.logotope {
  color: #2e2f42;
}

.onelinks {
  color: var(--primary-navy-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.onelinks:hover {
  color: var(--primary-ocean-color);
}
.onelinks:focus {
  color: var(--primary-ocean-color);
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}
.contacts:hover {
  color: var(--primary-ocean-color);
}
.contacts:focus {
  color: var(--primary-ocean-color);
}

.list {
  list-style: none;
  font-style: normal;
}

.net {
  font-style: normal;
}
/* Главная страницв */
.firstpage {
  background-color: var(--primary-navy-color);
  padding-top: 188px;
  padding-bottom: 188px;
}
.titles {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  text-align: center;
  margin-bottom: 48px;
}
.orders {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-white-color);
  display: block;

  height: 56px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
}
.orders:hover {
  background-color: #404bbf;
}
.orders:focus {
  background-color: #404bbf;
}

/* статьи */
.strategy {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navy-color);
}
.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
  text-align: left;
}

/* Чем занимаются */
.what {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-navy-color);
  text-align: center;
  text-transform: capitalize;
  text-transform: capitalize;
}
.fours {
  background-color: #f4f4fd;
}
.focus {
  background-color: #ffffff;
}
.team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-navy-color);
}
.people {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-navy-color);
  background-color: #ffffff;
}
.profession {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-slate-color);
  background-color: #ffffff;
}

/* Подвал */
.basement {
  background-color: var(--primary-navy-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.increase {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-cloud-color);
  width: 264px;
  height: 72px;
}
/* Вторая страница */
.pressbutton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
}
.pressbutton:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.pressbutton:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}

.web {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
}
.web:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.web:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.app {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
}
.app:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.app:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.design {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
}
.design:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.design:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.list {
  list-style: none;
}

.markering {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
}
.markering:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}
.markering:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}

.page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-navy-color);
}
.tab {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
}

.addr {
  font-style: normal;
}
.blue {
  font-style: normal;
}

.spam {
  color: #f4f4fd;
}

.header-nav {
  display: flex;
  align-items: baseline;
  width: 1440px;
  align-items: center;
}

.main-title {
}

.main-block {
  width: 1128px;
}

.main-what {
}

.main-fours {
}

.footer-increase {
}
.header-link {
  gap: 40px;
}
.open {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-ul {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  gap: 40px;
}
.header-ct {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-div {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: space-between;
}
.logo-footer {
  margin-bottom: 16px;
}
